/* style.css */
body{
  background: #E6E5E6;
  color: black;
  font-size: 12px;
  font-family: 'Oswald', sans-serif;}

h1{
  color: red;
  font-weight: lighter;
  font-size: 18px;
}
h2 {
  color: #0466D6;
  font-weight: lighter;
  font-size: 15px;
}
a {
  color: black;
}
a:hover {
  text-decoration: none;
  color: green;
}

.green-title {
  color: #39715A;
  font-weight: 15px
}

.orange-title {
  color: orange;
  font-weight: 15px
}